extends index
block append linksCss 
  link(rel="stylesheet" , href="/css/contract/contract.css")

block pageTitle
  title Pricing & Table 
  script(src='https://code.jquery.com/jquery-1.12.4.min.js')
  style.
    @media print {
      nav {
        display : none!important;
      }
      #main {
        margin-bottom : 0!important;
      }
      .sections {
        padding : 0!important;
      }
      .future-worker {
        margin : 0!important;
      }
      .grid-inputs .col-md-6 {
        width : 50%!important;
      }
      .grid-inputs label {
        display : block!important;
      }
      .footer-new, .submit {
        display : none!important;
      }
    }
block pageContent
    // start Nav
    nav.navbar.navbar-toggleable-md.navbar-light
      .container
        a.navbar-brand(href='/')
          img(src='/img/Home-page/logo.png')
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#silver', aria-controls='navbarSupportedContent', aria-expended='false', aria-lebal='toggle navgation') menu
        include include/nav.pug
    // End Nav
    // start contract 
    if success.message
      .alert.alert-success.text-center(role='alert')=success.message
    .future-worker
      .heading-future
        h3 Start Contract
      .para-future
        .sections
          .row.grid-inputs
            div(class="col-md-6")
              .input-field
                lebal First Name & Last Name
                input(type="text" class="account-sett-btn" value=user.firstName+ user.lastName disabled)
            div(class="col-md-6")
              .input-field
                lebal Company Name
                input(type="text"  class="account-sett-btn" value=company.companyData.name disabled)
                  
            div(class="col-md-6")
              .input-field
                lebal Email&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                input(type="text" class="account-sett-btn" value=user.email disabled)
            div(class="col-md-6")
              .input-field
                lebal Phone Number 
                input(type="text"  class="account-sett-btn" value=user.phone disabled)
      if !readOnly
        form(action="/contract" method= "post")
          include partials/contract-body.pug
          .submit
            button(type="submit" class="btn") Submit 
      else
        div
          include partials/contract-body.pug
          .submit(style="display:flex; justify-content: center")
            if loggedin.type === "company"
              if contract.accepted === undefined
                form(action=`/accept/${contract._id}/` method="post") 
                  button(type="submit" class="btn" style="margin:0 10px") Accept
                form(action=`/reject/${contract._id}/` method="post")
                  button(type="submit" class="btn" style="margin:0 10px") Reject 
              else if contract.accepted && contract.done === false
                form(action=`/done/${contract._id}/` method="post")
                  button(type="submit" class="btn" style="margin:0 10px") Done 
            a(href="")
              button(type="button" class="btn" style="margin:0 10px" onclick="window.print()") Print 
    // End contract
    
    // start footer
    .footer-new
      .container
        .row
          .col-lg-6.col-sm-12
          .col-lg-6.col-sm-12
            .social
              ul.list-unstyled.lists
                li
                  a(href='#')
                    i.fab.fa-facebook-square.fa-2x
                li
                  a(href='#')
                    i.fab.fa-twitter-square.fa-2x
                li
                  a(href='#')
                    i.fab.fa-instagram.fa-2x
        .row
          .col-lg-6.col-sm-12
            p.white © 2018 Oow, all rights reserved 
          .col-lg-6.col-sm-12
            .link-footer
              ul.list-unstyled
                li.nav-item
                  a.nav-link(href='#Terms & Conditions') TERMS & CONDITIONS
                li.nav-item
                  a.nav-link(href='#Privacy Policy') PRIVACY POLICY
    // End footer