extends index
block append linksCss  
  link(rel="stylesheet" , href="/css/setting-worker/setting-worker.css")
  
block pageTitle
    title Edit Settings


block pageContent  
    |
    <!-- start Nav -->
    nav(class="navbar navbar-toggleable-md navbar-light")
       .container
            |
            |
            a(class="navbar-brand", href="/")
                img(src="/img/Home-page/logo.png")
            
            button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#silver" aria-controls="navbarSupportedContent"  aria-expended="false" aria-lebal="toggle navgation") menu
                  
            div(class="collapse navbar-collapse", id="silver")
              ul(class="navbar-nav ml-auto")
                li(class="nav-item dropdown")
                  a(class="nav-link dropdown-toggle href-color" data-toggle="dropdown" href="#") SETTINGS
                  div(class="dropdown-menu")
                    if user.type === "company"
                      a(href="/company-profile" class="dropdown-item") Profile
                    else
                      a(href="/user-profile" class="dropdown-item") Profile
                    a(href="/dashboard/editSetting" class="dropdown-item") Your personal settings
                    if user.type === "company"
                      a(href="/dashboard/service" class="dropdown-item") your Services
                      a(href="/dashboard/company_setting" class="dropdown-item") Account Setting
                    a(href="/complaints" class="dropdown-item") Complaints
                    a(href="/update" class="dropdown-item") updatePassword
                    a(href="/remove-account" class="dropdown-item") Remove Account
                    a(href="/logout" class="dropdown-item") Log Out 
  
  
    |
    |
    <!-- End Nav -->
    |
    |
    <!-- start account Settings users --> 
    |
    |
    .setting-account-users
      .row
        .container
          .content-worker(class="col-lg-12 col-md-12 col-sm-12")
            h2(class="text-center") Edit Settings
            form(action="/dashboard/editSetting", method="post",id="form1",enctype="multipart/form-data")
              .sections
                .row
                  div(class="col-lg-6")
                    .input-field
                      lebal First Name 
                      input(type="text" class="account-sett-btn" value=`${!user.firstName?"":user.firstName}` name="firstName" required)
                  div(class="col-lg-6")
                    .input-field
                      lebal Last Name 
                      input(type="text"  class="account-sett-btn" value=`${!user.lastName?"":user.lastName}` name="lastName" required)
              .sections
                .row
                  div(class="col-lg-6")
                    .input-field
                      lebal Country
                      select#country(class="account-sett-btn" name="country" required)
                        option(value="" hidden) Country
                        each country in countries
                          option(value=`${country._id}`,selected=country._id.equals(user.governorate.country._id))=country.name
                  div(class="col-lg-6")
                    .input-field
                      lebal Governorates 
                      select#governorates(class="account-sett-btn" data-value=user.governorate._id required name="governorate")
                          option(value="" hidden) Governorate
                
              .sections
                h4 Add Profile Image      
                div(class="file-upload")
                  div(class="image-upload-wrap" style=user.profileimage?"display:none":"display:block")
                    input(class="file-upload-input" type='file' onchange="readURL(this);" accept="image/*" name="myImage")
                    div(class="drag-text")
                      h3 Drag and drop a file or select add Image
                  div(class="file-upload-content" style=user.profileimage?"display:block":"display:none")
                    img(class="file-upload-image" src=user.profileimage alt="your image")
                    div(class="image-title-wrap")
                      button(type="button" onclick="removeUpload()" class="remove-image") Remove <span class="image-title"> Uploaded Image </span>
    
              .sections
                h4(class="location") Your Number
                .input-field
                  input(type="tel" , id="phone-number" ,name="phone" ,class="btn-setting-worker" , placeholder="Enter Your Phone Number" value=user.phone required)
                .input-field
                  input(type="tel" , id="telephone-number" , name="telephone",class="btn-setting-worker" value=`${user.telephone?user.telephone:""}` placeholder="Enter telephone Number")

              .sections
                h4(class="id-national ") Id National Card
                .input-field
                  input(type="tel" , id="id-national" ,name="idNationalCard" class="btn-setting-worker" , placeholder="Enter Your Id  National Card" value=`${user.idNationalCard?user.idNationalCard:""}` required)
                  h4.text-success.text-centered=success.message      
                button(type="submit" class="btn btn-oow submit-save" form="form1") Save Change 
    |
    |
    <!-- End setting account users -->
    |
    |   
    <!-- start footer --> 
    .footer-new
      .container
        .row
          div(class="col-lg-6 col-sm-12")
          div(class="col-lg-6 col-sm-12")
            .social
              ul(class="list-unstyled lists")
                li
                  a(href="#")
                    <i class="fab fa-facebook-square fa-2x"></i>
                li  
                  a(href="#")
                    <i class="fab fa-twitter-square fa-2x"></i>
                li
                  a(href="#")
                    <i class="fab fa-instagram fa-2x"></i>  
        .row            
          div(class="col-lg-6 col-sm-12")
            p(class="white") © 2018 Oow, all rights reserved 
          div(class="col-lg-6 col-sm-12")
            .link-footer
              ul(class="list-unstyled")
                    li(class="nav-item")
                      a(class="nav-link" href="#Terms & Conditions") TERMS & CONDITIONS

                    li(class="nav-item")
                      a(class="nav-link" href="#Privacy Policy") PRIVACY POLICY
    
    <!-- End footer -->   
    script.
      var governorates = !{JSON.stringify(governorates)};
      var $country = document.querySelector("#country");
      var $governorates = document.querySelector("#governorates")
      $country.addEventListener("change",renderCities);
      renderCities();
      function renderCities(){
        var country_id = $country.options[$country.selectedIndex].value;
        var filter = governorates.filter(function (governorate){return governorate.country === country_id;});
        $governorates.innerHTML = "";
        const oldValue = $governorates.dataset.value;
        delete $governorates.dataset.value;
        filter.forEach(function(governorate){
            var option = document.createElement("option");
            option.value = governorate._id;
            option.innerHTML=governorate.name;
            option.selected = governorate._id === oldValue;
            $governorates.appendChild(option);
        });
      }             
