extends index
block append linksCss 
  link(rel="stylesheet" , href="css/orders/order-worker.css")

block pageTitle
  title Pricing & Table 
        
block pageContent
    // start Nav
    nav.navbar.navbar-toggleable-md.navbar-light
      .container
        a.navbar-brand(href='index.html')
          img(src='img/Home-page/logo.png')
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#silver', aria-controls='navbarSupportedContent', aria-expended='false', aria-lebal='toggle navgation') menu
        #silver.collapse.navbar-collapse
          ul.navbar-nav.ml-auto
            li.nav-item.dropdown
              a.nav-link.dropdown-toggle.href-color(data-toggle='dropdown', href='#') SETTINGS
              .dropdown-menu
                a.dropdown-item(href='#') Profile
                a.dropdown-item(href='#') Account Settings
                a.dropdown-item(href='#') Complaints
                a.dropdown-item(href='#') Remove Account
                a.dropdown-item(href='#') Log Out 
    // End Nav
    h2(class="text-center hea-cen") My Orders
    // Start Oreders
    each contract in contracts
      .orders
        .container
          .row
            .col-lg-2.up
              .one
                img(src=contract.company.profileimage)
            .col-lg-10.down.row
              .two.col-md-8
                p(clas='name' style="padding :0")
                  span=contract.company.firstName + " " + contract.company.lastName
                  a(href=`/view-company/${contract.company._id}` target="_blank" style="color : #00F")
                    span.px-2=contract.company.companyData.name 
                
                p(clas='name' style="padding :0")
                  span(style="font-size:18px;color:rgba(0,0,0,0.64)")=contract.company.email 

              .col-md-4.row
                div.col-md-12
                  if contract.done
                    span.badge.badge-primary(style="font-size : 100%; float:right") Done
                  else if contract.accepted
                    span.badge.badge-success(style="font-size : 100%; float:right") Accepted
                  
                  else if contract.accepted === false
                    span.badge.badge-danger(style="font-size : 100%; float:right") Rejected
                  
                  else 
                    span.badge.badge-warning(style="font-size : 100%; float:right") Pending
                if contract.accepted && !contract.done
                  div.col-md-12.mt-3.text-right
                    span You must go to the company's headquarters to complete your contract

                  
            .col-lg-12
                  button(class="btn")  
                    a(href=`/view-contract/${contract._id}`) View

    // start footer
    .footer-new
      .container
        .row
          .col-lg-6.col-sm-12
          .col-lg-6.col-sm-12
            .social
              ul.list-unstyled.lists
                li
                  a(href='#')
                    i.fab.fa-facebook-square.fa-2x
                li
                  a(href='#')
                    i.fab.fa-twitter-square.fa-2x
                li
                  a(href='#')
                    i.fab.fa-instagram.fa-2x
        .row
          .col-lg-6.col-sm-12
            p.white © 2018 Oow, all rights reserved 
          .col-lg-6.col-sm-12
            .link-footer
              ul.list-unstyled
                li.nav-item
                  a.nav-link(href='#Terms & Conditions') TERMS & CONDITIONS
                li.nav-item
                  a.nav-link(href='#Privacy Policy') PRIVACY POLICY
    // End footer
