extends index
block append linksCss  
  link(rel="stylesheet" , href="css/our-section/our-section.css")


block pageTitle
  title Our Section
  
block pageContent
  |
  <!-- start Nav -->
  nav(class="navbar navbar-toggleable-md navbar-light")
     .container
          |
          |
          a(class="navbar-brand", href="/")
              img(src="/img/Home-page/logo.png")
          
          button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#silver" aria-controls="navbarSupportedContent"  aria-expended="false" aria-lebal="toggle navgation") menu
          include include/nav.pug 


  |
  |
  <!-- End Nav -->
  |
  |
  <!-- start Our section -->
  .our-section
    .container
      .row
        each val in category
          div(class="col-lg-4 content")
            div(class="card")
              a(href=`/companies/?section=${val._id}${governorate===null ? "" : `&governorate=${governorate}`}` class="more") Show More
              img(src=val.image class="card-img-top" alt="...")
            div(class="card-body text-center")
              h2=val.name
              p=val.description
  |
  |
  <!-- End Our section -->
  |
  |
  <!-- start footer -->
  .footer-new
    .container
      .row
        div(class="col-lg-6 col-sm-12")
        div(class="col-lg-6 col-sm-12")
          .social
            ul(class="list-unstyled lists")
              li
                a(href="#")
                  <i class="fab fa-facebook-square fa-2x"></i>
              li  
                a(href="#")
                  <i class="fab fa-twitter-square fa-2x"></i>
              li
                a(href="#")
                  <i class="fab fa-instagram fa-2x"></i>  
      .row            
        div(class="col-lg-6 col-sm-12")
          p(class="white") © 2018 Oow, all rights reserved 
        div(class="col-lg-6 col-sm-12")
          .link-footer
            ul(class="list-unstyled")
                  li(class="nav-item")
                    a(class="nav-link" href="/termsPrivacy") TERMS & CONDITIONS

                  li(class="nav-item")
                    a(class="nav-link" href="/termsPrivacy") PRIVACY POLICY
  
  <!-- End footer -->


