extends index
block append linksCss 
  link(rel="stylesheet" , href="/css/profile-worker/worker-version-2.css")
  link(rel="stylesheet" , href="/css/our-section/our-section.css")

block pageTitle
  title Profile
        
block pageContent
    // start Nav
    nav.navbar.navbar-toggleable-md.navbar-light
      .container
        a.navbar-brand(href='index.html')
          img(src='/img/Home-page/logo.png')
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#silver', aria-controls='navbarSupportedContent', aria-expended='false', aria-lebal='toggle navgation') menu
        div(class="collapse navbar-collapse", id="silver")
            ul(class="navbar-nav ml-auto")
              li(class="nav-item dropdown")
                a(class="nav-link dropdown-toggle href-color" data-toggle="dropdown" href="#") SETTINGS
                div(class="dropdown-menu")
                  if user.type === "company"
                    a(href="/company-profile" class="dropdown-item") Profile
                    a(href="/search" class="dropdown-item") Search

                  else
                    a(href="/user-profile" class="dropdown-item") Profile
                  a(href="/dashboard/editSetting" class="dropdown-item") Your personal settings
                  if user.type === "company" && readOnly === false
                    a(href="/dashboard/service" class="dropdown-item") your Services
                    a(href="/dashboard/company_setting" class="dropdown-item") Account Setting
                  a(href="/complaints" class="dropdown-item") Complaints
                  a(href="/update" class="dropdown-item") updatePassword
                  a(href="/remove-account" class="dropdown-item") Remove Account
                  a(href="/logout" class="dropdown-item") Log Out
    // End Nav
    // start profile-wroker
    .profile-worker
      .container
        .row
          .col-lg-2.up
            .one
              img(src=user.profileimage)
          .col-lg-10.down
            .two
              p(class='name')
                span=user.firstName
                span.px-2= user.lastName
              p
                span.company-name=user.companyData.name 
                span.company-name.m-2 
              p.city
                span=user.governorate.name 
                |  
                span.px-2=user.companyData.location.city 
              span.phone=user.phone 
              span.phone.px-2=user.telephone 
          .col-lg.under
            h4.job=user.companyData.categary.name
            p.discretion=user.companyData.description
    .future-worker
      .heading-future
        h3 Features
      .para-future
        p=user.companyData.features
    .future-worker
      .heading-future
        h3 conditions
      .para-future
        p=(`${user.companyData.conditions?user.companyData.conditions:""}`)
    .portfolio-worker
      .heading-portfolio
        h3 Portfolio
      .upload-portfolio
        .container
          .row
            each image in user.companyData.images
              .mt-4.mb-4.col-lg-4(style='position : relative')
                input(type='hidden')
                img.img-fluid(src=image)
                if !readOnly 
                  form.delete(style='position : absolute; top: 10px; right : 25px;'
                    action="/remove/picture" method="post")
                      input(type='hidden', value=image name="myImage")
                      .delete-portfolio(style='text-align : center;display : flex; flex-direction: column; justify-content : center;cursor:pointer;font-size:16px;font-family:sans-serif;font-weight : bold; color : white; background : black; width : 30px; height : 30px; border-radius : 50%;') ✕
              // END FOREACH
            if !readOnly
              .col-lg-12
                form.mt-4.mb-4(action="/company-profile" method="post",enctype="multipart/form-data" id="add" style='display : flex; justify-content: space-between')
                  div
                    input.file-upload-input(type='file', accept='image/*', multiple='multiple',name="myImages")
                  button.btn.btn-success(type='submit' form="add") Add
    // End profile-worker
    .portfolio-worker
      .heading-portfolio
        h3 Videos
      .upload-portfolio
        .container
          .row
            each video in user.companyData.videos
              .col-md-6(style='position : relative')
                input(type='hidden', value=video)
                video(style='width : 100%;', controls='')
                  source(src=video, type='video/mp4')
                  |                 Your browser does not support the video tag.
                if !readOnly
                  form.delete(style='position : absolute; top: 10px; right : 25px;'    action="/remove/video" method="post")
                    input(type='hidden', value=video name="delvideo")
                    .delete-portfolio(style='text-align : center;display : flex; flex-direction: column; justify-content : center;cursor:pointer;font-size:16px;font-family:sans-serif;font-weight : bold; color : white; background : black; width : 30px; height : 30px; border-radius : 50%;') ✕
            if !readOnly
              .col-lg-12
                form.mt-4.mb-4(style='display : flex; justify-content: space-between' enctype="multipart/form-data" action="/company-video" method="post")
                  div
                    input.file-upload-input(type='file', accept='video/mp4' name="video")
                  button.btn.btn-success(type='submit') Add
    .text-center
      a(href="/dashboard/service" class="btn btn-oow" role="button" style="background:#ff1a47") Servies & Price
    // End profile-worker
    // start footer
    .footer-new
      .container
        .row
          .col-lg-6.col-sm-12
          .col-lg-6.col-sm-12
            .social
              ul.list-unstyled.lists
                li
                  a(href='#')
                    i.fab.fa-facebook-square.fa-2x
                li
                  a(href='#')
                    i.fab.fa-twitter-square.fa-2x
                li
                  a(href='#')
                    i.fab.fa-instagram.fa-2x
        .row
          .col-lg-6.col-sm-12
            p.white © 2018 Oow, all rights reserved 
          .col-lg-6.col-sm-12
            .link-footer
              ul.list-unstyled
                li.nav-item
                  a.nav-link(href='/termsPrivacy') TERMS & CONDITIONS
                li.nav-item
                  a.nav-link(href='/termsPrivacy') PRIVACY POLICY
    // End footer
    script.
      $(".delete-portfolio").on("click", function () {
      $(this).parents("form").submit();
      });