extends index
block append linksCss 
  link(rel="stylesheet" , href="css/profile-worker/profile-worker.css")

block pageTitle
  title Profile
        
block pageContent
    // start Nav
    nav.navbar.navbar-toggleable-md.navbar-light
      .container
        a.navbar-brand(href='index.html')
          img(src='img/Home-page/logo.png')
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#silver', aria-controls='navbarSupportedContent', aria-expended='false', aria-lebal='toggle navgation') menu
        #silver.collapse.navbar-collapse
          ul.navbar-nav.ml-auto
            li.nav-item.dropdown
              a.nav-link.dropdown-toggle.href-color(data-toggle='dropdown', href='#') SETTINGS
              .dropdown-menu
                if user.type === "company"
                  a(href="/company-profile" class="dropdown-item") Profile
                else
                  a(href="/user-profile" class="dropdown-item") Profile
                a(href="/dashboard/editSetting" class="dropdown-item") Your personal settings
                if user.type === "company"
                  a(href="/dashboard/service" class="dropdown-item") your Services
                  a(href="/dashboard/company_setting" class="dropdown-item") Account Setting
                a(href="/complaints" class="dropdown-item") Complaints
                a(href="/update" class="dropdown-item") updatePassword
                a(href="/remove-account" class="dropdown-item") Remove Account
                a(href="/logout" class="dropdown-item") Log Out 
    // End Nav
    // start profile-wroker
    div(class="profile-worker down")
      .container
        .row
          .col-lg-2.up
            .one
              img(src=user.profileimage)
          .col-lg-10.down
            .two
              p(clas='name')
                span=user.firstName  
                span.px-2=user.lastName  
              p.city
                span=user.governorate.country.name  
                span.px-2=user.governorate.name
              p.city
                span=user.email 
              p(clas='name')
              span.phone=user.phone
              span.phone.px-4=user.telephone
    // start footer
    .footer-new
      .container
        .row
          .col-lg-6.col-sm-12
          .col-lg-6.col-sm-12
            .social
              ul.list-unstyled.lists
                li
                  a(href='#')
                    i.fab.fa-facebook-square.fa-2x
                li
                  a(href='#')
                    i.fab.fa-twitter-square.fa-2x
                li
                  a(href='#')
                    i.fab.fa-instagram.fa-2x
        .row
          .col-lg-6.col-sm-12
            p.white © 2018 Oow, all rights reserved 
          .col-lg-6.col-sm-12
            .link-footer
              ul.list-unstyled
                li.nav-item
                  a.nav-link(href='#Terms & Conditions') TERMS & CONDITIONS
                li.nav-item
                  a.nav-link(href='#Privacy Policy') PRIVACY POLICY
    // End footer
