extends index
block append linksCss
  link(rel="stylesheet" , href="/css/our-section/our-section.css")
  link(rel="stylesheet" , href="/css/our-section/section-one.css")


block pageTitle
      title=sections.name


block pageContent
  |
  <!-- start Nav -->
  nav(class="navbar navbar-toggleable-md navbar-light")
     .container
          |
          |
          a(class="navbar-brand", href="index.html")
              img(src="/img/Home-page/logo.png")
          
          button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#silver" aria-controls="navbarSupportedContent"  aria-expended="false" aria-lebal="toggle navgation") menu
                
          div(class="collapse navbar-collapse", id="silver")
            ul(class="navbar-nav ml-auto")
              li(class="nav-item dropdown")
                a(class="nav-link dropdown-toggle href-color" data-toggle="dropdown" href="#") SETTINGS
                div(class="dropdown-menu")
                  if user.type === "company"
                    a(href="/company-profile" class="dropdown-item") Profile
                  else
                    a(href="/user-profile" class="dropdown-item") Profile
                  a(href="/dashboard/editSetting" class="dropdown-item") Your personal settings
                  if user.type === "company"
                    a(href="/dashboard/service" class="dropdown-item") your Services
                    a(href="/dashboard/company_setting" class="dropdown-item") Account Setting
                  a(href="/complaints" class="dropdown-item") Complaints
                  a(href="/update" class="dropdown-item") updatePassword
                  a(href="/remove-account" class="dropdown-item") Remove Account
                  a(href="/logout" class="dropdown-item") Log Out 


  |
  |
  <!-- End Nav -->
  |
  |
  <!-- start header wedding venues -->
  .main-section-one(style=`background-image: url(${sections.background})`)
    .content-section(class="text-center")
      h2=sections.name
      p=sections.longdescription
  <!-- End header wedding venues -->
  |
  |
  <!-- start wedding venues -->
  each user in users
    .file-worker
        .container
          div(class="worker-section")
            .row
              div(class="col-lg-3  first")
                img(src=user.profileimage class="img-worker")
              div(class="col-lg-7  second")
                h3=user.companyData.name
                p=user.companyData.description
                button 
                  a(href=`/view-company/${user._id}`) View More   
  if users.length > 0 && pages > 1
    .pagination-outer(style="display : flex; justify-content : center")
      include pagination
      +pagination(page,pages,baseUrl)
  if users.length === 0
    h1.text-center.text-danger.m-5 No companies were found
  
                
                
        
  <!-- End wedding venues -->
  |
  |
  <!-- start footer -->
  .footer-new
    .container
      .row
        div(class="col-lg-6 col-sm-12")
        div(class="col-lg-6 col-sm-12")
          .social
            ul(class="list-unstyled lists")
              li
                a(href="#")
                  <i class="fab fa-facebook-square fa-2x"></i>
              li  
                a(href="#")
                  <i class="fab fa-twitter-square fa-2x"></i>
              li
                a(href="#")
                  <i class="fab fa-instagram fa-2x"></i>  
      .row            
        div(class="col-lg-6 col-sm-12")
          p(class="white") © 2018 Oow, all rights reserved 
        div(class="col-lg-6 col-sm-12")
          .link-footer
            ul(class="list-unstyled")
                  li(class="nav-item")
                    a(class="nav-link" href="#Terms & Conditions") TERMS & CONDITIONS

                  li(class="nav-item")
                    a(class="nav-link" href="#Privacy Policy") PRIVACY POLICY
  
  <!-- End footer -->
