extends index
block append linksCss 
  link(rel="stylesheet" , href="/css/pricing-table/pricing-table.css")

block pageTitle
  title Service
        
block pageContent
  |
  <!-- start Nav -->
  |
  <!-- start Nav -->
  nav(class="navbar navbar-toggleable-md navbar-light")
     .container
          |
          |
          a(class="navbar-brand", href="index.html")
              img(src="/img/Home-page/logo.png")
          
          button.navbar-toggler(type='button', data-toggle='collapse', data-target='#silver', aria-controls='navbarSupportedContent', aria-expended='false', aria-lebal='toggle navgation') menu
          div(class="collapse navbar-collapse", id="silver")
            ul(class="navbar-nav ml-auto")
              li(class="nav-item dropdown")
                a(class="nav-link dropdown-toggle href-color" data-toggle="dropdown" href="#") SETTINGS
                div(class="dropdown-menu")
                  if user.type === "company"
                    a(href="/company-profile" class="dropdown-item") Profile
                    a(href="/search" class="dropdown-item") Search

                  else
                    a(href="/user-profile" class="dropdown-item") Profile
                  a(href="/dashboard/editSetting" class="dropdown-item") Your personal settings
                  if user.type === "company" && readOnly === false
                    a(href="/dashboard/service" class="dropdown-item") your Services
                    a(href="/dashboard/company_setting" class="dropdown-item") Account Setting
                  a(href="/complaints" class="dropdown-item") Complaints
                  a(href="/update" class="dropdown-item") updatePassword
                  a(href="/remove-account" class="dropdown-item") Remove Account
                  a(href="/logout" class="dropdown-item") Log Out      
  hr                                                 
  |
  |
  <!-- End Nav -->
  |
  |
  <!-- start Pricing section -->
    |
    |
    <!-- start Table --> 
    |
    |
    <!-- between -->
    //- .back
    //-   .face    
    //-   img(src="img/Plant.svg" class="one")
    //-   img(src="img/Corner Plants.svg" class="two")  
    |
    |  
    <!-- between -->  
    |
    |
    <!-- End Table --> 
  form(action="/dashboard/service",method="post")
    div(id="main")
      h2(class="text-center")  Specialty Services <Br> Please Select
      div(class="container")
        table(id="data" class="data-table data-table-horizontal data-table-highlight")
          tbody
            ul(class="heade-table list-unstyled")
              li  service
              li  Details
              li  Price
            - var services = user.companyData.services && user.companyData.services.length? user.companyData.services : [{ name : "", description: "" , price: 1  }]
            each service , i in services
              tr(data-id=i)
                td 
                  input(type="text",value=service.name ,name=`services[${i}][name]`,required)
                td
                  input(type="text",value=service.description ,name=`services[${i}][description]`) 
                td
                  input(type="number",value=service.price ,name=`services[${i}][price]`, min="1",required)
                td
                  a(type="button" value="Delete" onclick="deleteRow(this)")
                    i(class="fas fa-trash-alt fa-fw")
                    

        
        div(class="pull-right")
          input(type="button" value="Add" class="top-buffer" onclick="addRow('data')")  
          
      
      div(class="pull-right")
        .container
          button(type="submit",class="top-buffer" ) save
          //- a(href="#") 
                      

  
    
